<ul class="list-unstyled">
	@foreach (var item in Products)
	{
		<li class="media my-3">
			<div class="media-img-wrapper mr-2">
				<a href="#">
					<img class="media-img" src="@item.ImageUrl" alt="@item.Title" />
				</a>
			</div>
			<div class="media-body">
				<a href="#">
					<h4 class="mb-0">@item.Title</h4>
				</a>
				<p>@item.Description</p>
				<h5 class="price">
					$@item.Price
				</h5>
			</div>
		</li>
	}
</ul>

@code {
	private static List<Product> Products = new List<Product>
	{
		new Product
		{
			Id = 1,
			Title = "The Hitchhiker's Guide to the Galaxy",
			Description = "The Hitchhiker's Guide to the Galaxy has become an international multi-media phenomenon; the novels are the most widely distributed, having been translated into more than 30 languages by 2005",
			ImageUrl = "https://upload.wikimedia.org/wikipedia/en/b/bd/H2G2_UK_front_cover.jpg",
			Price = 9.99m
		},
		new Product
		{
			Id = 2,
			Title = "Ready Player One",
			Description = "Ready Player One is a 2011 science fiction novel, and the debut novel of American author Ernest Cline. The story, set in a dystopia in 2045, follows protagonist Wade Watts on his search for an Easter egg in a worldwide virtual reality game, the discovery of which would lead him to inherit the game creator's fortune. Cline sold the rights to publish the novel in June 2010, in a bidding war to the Crown Publishing Group (a division of Random House)",
			ImageUrl = "https://upload.wikimedia.org/wikipedia/en/thumb/a/a4/Ready_Player_One_cover.jpg/220px-Ready_Player_One_cover.jpg",
			Price = 7.99m
		},
		new Product
		{
			Id = 3,
			Title = "Nineteen Eighty-Four",
			Description = "Nineteen Eighty-Four (also published as 1984) is a dystopian social science fiction novel and cautionary tale by English writer George Orwell. It was published on 8 June 1949 by Secker & Warburg as Orwell's ninth and final book completed in his lifetime. Thematically, it centres on the consequences of totalitarianism, mass surveillance and repressive regimentation of people and behaviours within society",
			ImageUrl = "https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/1984first.jpg/220px-1984first.jpg",
			Price = 6.99m
		}
	};
}
