@inject NavigationManager NavigationManager

<button @onclick="GoToHome"
class="btn btn-outline-primary home-button">
My Shop
</button>

@code {
    protected void GoToHome()
    {
        NavigationManager.NavigateTo("");
    }
}
