@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="top-row px-4">
            <HomeButton />
            <Search />
            <UserButton />
            <CartCounter />
            <CultureSelector />
        </div>

        <div class="nav-menu">
            <ShopNavMenu />
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />