@page "/"
@page "/{categoryUrl}"
@inject IProductService ProductService

<PageTitle>My Shop</PageTitle>

@*<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />*@

<ProductList />

@code {
    [Parameter]
    public string categoryUrl { get; set; } = null;

    protected override async Task OnParametersSetAsync()
    {
        await ProductService.GetProducts(categoryUrl);
    }
}
